body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd, dt {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'EB Garamond', serif;
}

header {
    background-color: #FFFF;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-right a {
    color: #000;
    text-decoration: none;
    margin-left: 48px;
}

.name {
    font-weight: 600;
    color: #000;
    font-style: normal;
    line-height: normal;
    
}

.section_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.section_intro p {
    margin: 0;
    color: #000;
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects h2{
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/* Media query for screens over 1440px */
@media screen and (min-width: 1441px) {
    /* Styles for screens over 1440px */

    /* For the top level navigation bar */
    .navbar {
        display: flex;
        padding: 16px 32px;
        align-items: center;
        height: 156px;
        gap: 10px;
        flex-shrink: 0;
    }

    .navbar-right{
        font-size: 16px;
    }

    .name {
        font-size: 32px;
    }

    /* for the UX Designer & Researcher from Arizona section */
    .section_intro {
        padding: 10px 48px;
        height: 147px;
    }

    .section_intro p {
        font-size: 36px;

    }

    /* Projects section */
    .projects {
        padding: 0px 32px;
    }

    .projects h2 {
        font-size: 64px;
    }

    
}



/* Media query for screens over 1152px */
@media screen and (min-width: 1153px) and (max-width: 1440px) {
    /* Styles for screens over 1152px and up to 1440px */
}

/* Media query for screens over 768px */
@media screen and (min-width: 769px) and (max-width: 1152px) {
    /* Styles for screens over 768px and up to 1152px */
}

/* Media query for screens over 320px */
@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px (including mobile devices) */
    .navbar {
        flex-direction: row; /* Change to horizontal alignment */
        align-items: center; /* Center items vertically */
        justify-content: space-between; /* Add space between navbar-left and navbar-right */
    }
    .navbar-left {
        margin-right: auto; /* Push navbar-left to the left side of the container */
    }

    .name{
        font-size: 18px;
    }
    .navbar-right {
        display: flex; /* Change to block level for vertical alignment */
        flex-direction: column; /* Change to vertical alignment */
        align-items: flex-end; /* Align items to the end */
        font-size: 10px;
    }
    .navbar-right a {
        margin: 4px 0; /* Add spacing between the links in mobile view */
    }

    header {
        padding: 12px 16px;
    }

    .section_intro p {
        margin: 0;
        color: #000;
        font-family: "EB Garamond";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .section_intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }
}

/* Additional media queries for smaller screens if needed */
/* @media screen and (max-width: 320px) { ... } */